.springboot-logo[data-v-fda163bc]{height:180px;width:180px}.nuxt-logo{height:180px}.vuetify-logo[data-v-d8dffa02]{animation:turn-d8dffa02 3.5s ease-out 1s forwards;height:180px;transform:rotateY(560deg);width:180px}@keyframes turn-d8dffa02{to{transform:rotateY(0)}}
