<template>
    <img class="springboot-logo" alt="Springboot Logo" src="/springboot-logo.png">
</template>

<style scoped>
    .springboot-logo {
        height: 180px;
        width: 180px;
    }
</style>
