<template>
    <v-row>
        <v-col class="text-center">
            <OSLLogo/>
            <blockquote class="blockquote">
                Apache License <br>
                Version 2.0, January 2004<br>
                http://www.apache.org/licenses/<br>
                <br>
                TERMS AND CONDITIONS FOR USE, REPRODUCTION, AND DISTRIBUTION<br>
                <br>
                Copyright 2022 - Réal Demers<br>
                <br>
                Licensed under the Apache License, Version 2.0 (the "License");<br>
                you may not use this file except in compliance with the License.<br>
                You may obtain a copy of the License at<br>
                <br>
                <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank" rel="noopener noreferrer">Apache license</a><br>
                <br>
                Unless required by applicable law or agreed to in writing, software <br>
                distributed under the License is distributed on an "AS IS" BASIS, <br>
                WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. <br>
                See the License for the specific language governing permissions and <br>
                limitations under the License.
            </blockquote>
        </v-col>
    </v-row>
</template>

<script lang="ts">
    definePageMeta({
        middleware: ["authentication"]
    });
 
    export default defineComponent({
        name: 'AboutPage'
    });
</script>
