<template>
    <v-row justify="center" align="center">
        <v-col cols="12" sm="8" md="6">
            <v-card class="logo py-4 d-flex justify-center">
                <SpringbootLogo/>
                <NuxtLogo/>
                <VuetifyLogo/>
            </v-card>
            <v-card>
                <v-card-title class="headline">Bienvenue dans le gabarit de développement SNV</v-card-title>
                <v-card-text>
                    <p>
                        Cette application propose une approche pour le développement d'appalication WEB.
                        Elle présente un exemple concret de gestion de données. Have fun !!!
                    </p>
                 </v-card-text>
                <v-divider/>
                <v-card-text>
                    <p>Les technologies utilisées par cette application sont les suivantes:</p>
                    <v-list lines="two">
                        <v-list-item v-for="item in items"
                            :key="item.techno"
                            :title="item.description"
                            :href="item.url">
                        </v-list-item>
                    </v-list>
                </v-card-text>
                <v-divider/>
                <v-card-text>
                    <a href="https://gitlab.com/rdemers-public/org-rd-tmpl-snv" target="_blank" rel="noopener noreferrer">Gitlab source</a>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</template>

<script lang="ts">
    definePageMeta({
        middleware: ["authentication"]
    });
    
    export default defineComponent({
        name: 'IndexPage',
        data() {
            return {
                items: [
                    { 
                        techno: "SpringBoot", 
                        description: "Spring Boot - Facilite la création d'applications JAVA/Services/REST.", 
                        url: "https://spring.io/projects/spring-boot"},
                    { 
                        techno: "Nuxt",
                        description: "NuxtJS - The Intuitive Vue Framework.",
                        url: "https://nuxtjs.org/"
                    },
                    { 
                        techno: "Vue",
                        description: "Vue - The Progressive JavaScript Framework.", 
                        url: "https://vuejs.org/"},
                    { 
                        techno: "Vuetify",
                        description: "Vuetify - UI Component Framework.",
                        url: "https://next.vuetifyjs.com/en/"},
                ]
            }
        },
    });
</script>
