<template>
    <div class="text-xs-center">
        <v-dialog v-model="dialog" width="500">
        <v-card>
            <v-card-title class="headline grey lighten-2" primary-title>Login form</v-card-title>
            <v-card-text>
                Cette application est sécurisée.<br>
                logins    : snv_root ou snv_support ou snv_guest.<br>
                passwords : snv_root ou snv_support ou snv_guest.<br>
            </v-card-text>
            <v-divider/>
            <v-card-text>
                <v-form>
                    <v-text-field prepend-icon="mdi-account" id="login"    name="login"    
                                  label="Login"    type="text"     v-model="session.user"></v-text-field>
                    <v-text-field prepend-icon="mdi-lock"    id="password" name="password" 
                                  label="Password" type="password" v-model="session.password"></v-text-field>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer/>
                <v-btn color="primary" flat @click="doLogin">login</v-btn>
            </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
    import Session from "@/types/Session";
    import { sessionStore } from "@/store/session";

    export default defineComponent({
        name: "login",
        data() {
            return {
                dialog: true,
                session: {
                     user: "",
                     password: "",
                } as Session,
            };
        },
        methods: {
            doLogin() {
                let data = {
                    user: this.session.user,
                    password: this.session.password,
                }

                if (data.user.trim().length != 0) {
                    const session:Session = sessionStore().getSession;

                    session.sessionID = "1";
                    sessionStore().setSession(session);
                    this.dialog = false;

                    navigateTo("/");
                }
            }
        }
    });
</script>