<template>
    <v-app>
        <v-navigation-drawer v-model="drawer" :mini-variant="miniVariant" :clipped="clipped" fixed app>
            <v-list>
                <v-list-item v-for="(item, i) in items" :key="i" :title="item.title" :to="item.to" router exact>
                    <v-list-item-action>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-action>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
        <v-app-bar :clipped-left="clipped" fixed app>
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"/>
            <v-toolbar-title v-text="title"/>
            <v-spacer/>
            <v-btn icon @click.stop="rightDrawer = !rightDrawer">
                <v-icon>mdi-logout</v-icon> 
            </v-btn>
        </v-app-bar>
        <v-main>
            <v-container>
                <slot/>
            </v-container>
        </v-main>
        <v-footer :absolute="!fixed" app>
            <span>Copyright &copy; {{ new Date().getFullYear() }}</span>
        </v-footer>
    </v-app>
</template>

<script lang="ts">
    export default defineComponent({
        name: 'DefaultLayout',
        data () {
            return {
                clipped: false,
                drawer: false,
                fixed: false,
                items: [ 
                    {
                        icon: 'mdi-home',
                        title: 'Bienvenue',
                        to: '/'
                    },
                    {
                        icon: 'mdi-book',
                        title: 'Livres',
                        to: '/login'
                    },
                    {
                        icon: 'mdi-copyright',
                        title: 'A propos',
                        to: '/about'
                    }
                ],
                miniVariant: false,
                right: true,
                rightDrawer: true,
                title: 'org-rd-tmpl-snv'
            }
        }
    });
</script>
