<template>
    <div class="submit-form">
        <div v-if="!submitted">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" required v-model="book.title" name="title"/>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input class="form-control" id="description" required v-model="book.description" name="description"/>
            </div>
            <button @click="saveBook" class="btn btn-success">Submit</button>
        </div>
        <div v-else>
            <h4>You submitted successfully!</h4>
            <button class="btn btn-success" @click="newBook">Add</button>
        </div>
    </div>
</template>
  
<script lang="ts">

    /**
     * -------------------------------------------------------------------------
     * Name        : add-book.
     * Description : View for adding a book.
     * -------------------------------------------------------------------------
     */
    import { defineComponent }  from "vue";
    import BookService          from "@/services/BookService";
    import Book                 from "@/types/Book";
    import ResponseData         from "@/types/ResponseData";
  
    export default defineComponent({
        name: "add-book",
        data() {
            return {
                book: {
                    id: null,
                    title: "",
                    description: "",
                } as Book,
                submitted: false,
            };
        },
        methods: {

            /**
             * -----------------------------------------------------------------
             * Save a book.
             * -----------------------------------------------------------------
             */
            saveBook() {
                let data = {
                    title: this.book.title,
                    description: this.book.description,
                };
  
                BookService.create(data)
                .then((response: ResponseData) => {
                    this.book.id = response.data.id;
                    console.log(response.data);
                    this.submitted = true;
                })
                .catch((e: Error) => {
                    console.log(e);
                });
            },

            /**
             * -----------------------------------------------------------------
             * Set a new book.
             * -----------------------------------------------------------------
             */
            newBook() {
                this.submitted = false;
                this.book = {} as Book;
            },
        },
    });
</script>
  
<style scoped>
    .submit-form {
        max-width: 300px;
        margin: auto;
    }
</style>